/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

main {
  margin: 50px auto;
  width: 100%;
  max-width: 800px; /* Ancho máximo ajustable según tus necesidades */
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la sección de preguntas cognitivas */
.seccion {
  text-align: start;
  color: rgb(243, 185, 78);
  margin-bottom: 30px;
  font-size: 16px;
}

.situacion-container {
  margin-bottom: 30px;
}

.num_situacion {
  font-size: 15px;
  font-weight: bold;
  color: rgb(70, 62, 175);
  margin-bottom: 10px;
}

.descripcion_situacion {
  font-size: 16px;
  color: rgb(70, 62, 175);
  margin-bottom: 15px;
}

.preguntas-container {
  margin-left: 20px; /* Indentación para las preguntas */
}

.question {
  margin-bottom: 20px;
}

.question h4 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(90, 185, 90);
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.options label {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 10px;
}

.options input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
  vertical-align: middle;
}

.options input[type="radio"]:checked {
  background-color: #0f0f96;
  border-color: transparent;
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #0f0f96;
}

.options label {
  font-size: 14px;
  color: rgb(70, 62, 175);
  font-weight: 550;
  cursor: pointer;
}

/* Estilos para el botón */
.botons {
  background-color: rgb(233, 182, 17);
  color: #11154d;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: block;
  margin-top: 20px;
  width: 80%;
  max-width: none; /* Si no quieres limitar el ancho máximo */
  margin: 0 auto; /* Alinear al centro */
  font-weight: 600;
  text-align: center;
}

.botons:hover {
  background-color: rgb(161, 112, 20);
}

.mensaje-advertencia {
  text-align: center;
  color: rgb(182, 6, 6);
  font-weight: 700;
}