.profile-header {
  padding: 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.titulo-profile {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-sections {
  display: flex;
}

.profile-section {
  flex: 1;
}

.profile-left {
  padding-right: 20px; /* Separación entre las dos secciones */
}

.profile-right {
  padding-left: 20px; /* Separación entre las dos secciones */
}

.profile-text {
  display: flex;
  flex-direction: column;
}

.profile-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-dato {
  margin-bottom: 10px;
}

.profile-specific {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.profile-specific p {
  margin-bottom: 5px;
}

.hide-profile-text {
  display: none; /* Oculta el contenido cuando sidenavCollapsed() devuelve true */
}
