<div class="contai">
  <header>
    <app-logo></app-logo>
    <nav>
      <app-nav></app-nav>
    </nav>
  </header>
  <div>
    <span class="slogan">SERVICIO LAS 24 HORAS DEL DÍA</span>
    <h2>
      Cuidamos tu <span style="color: rgb(99, 215, 188)">Salud Mental</span>,
      cuidamos de ti.
    </h2>
    <p>
      Detecta y maneja tu ansiedad con nuestro test en línea y la opción de
      reservar citas con un especialista. En Sisvita te brindámos el soporte
      necesario para que vivas una vida más tranquila y equilibrada.
    </p>
    <a href="/test"
      ><button mat-raised-button color="accent">Realizar Test</button></a
    >
  </div>
</div>
