<main class="main">
  <div class="main-content">
    <mat-accordion class="example-headers-align">
      @if(test){ @for (seccion of test.secciones; track $index) {

      <mat-expansion-panel
        [expanded]="step === $index"
        (opened)="setStep($index)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>{{ seccion.descripcion }}</mat-panel-title>
          <mat-panel-description>
            {{ seccion.descripcion }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          @for (situacion of seccion.situaciones; track $index) {
          <mat-list-item>
            <p matLine>{{ situacion.descripcion }}</p>
          </mat-list-item>
          @for (pregunta of situacion.preguntas; track $index) {
          <p matLine>{{ pregunta.descripcion }}</p>

          <mat-selection-list
            #opcionSeleccionada
            [multiple]="false"
            (selectionChange)="
              this.onSelectionChange(
                opcionSeleccionada.selectedOptions.hasValue()
                  ? opcionSeleccionada.selectedOptions.selected[0].value
                  : null,
                seccion.id_seccion || 0,
                test.id_test || 0
              )
            "
          >
            @for (opcion of test.opciones; track $index) {

            <mat-list-option class="inline" [value]="opcion.valor_opcion">{{
              opcion.descripcion
            }}</mat-list-option>
            }
          </mat-selection-list>
          <p>
            Opcion seleccionada:
            {{
              opcionSeleccionada.selectedOptions.hasValue()
                ? opcionSeleccionada.selectedOptions.selected[0].value
                : "Ninguna."
            }}
          </p>
          }
          <mat-divider></mat-divider>
          }
        </mat-list>

        <mat-action-row>
          @if($index > 0){
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          } @if($index === test.secciones.length - 1) {
          <button mat-button color="primary" (click)="groupResponses()">
            End
          </button>
          }@else{

          <button mat-button color="primary" (click)="nextStep()">Next</button>
          }
        </mat-action-row>
      </mat-expansion-panel>

      } }@else{
      <p class="no-test">No se ha seleccionado ningnu test.</p>
      }
    </mat-accordion>
  </div>
</main>
