.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.example-headers-align {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
mat-list-item {
  padding: 0px;
}
h3 {
  text-align: center;
  vertical-align: middle;
}

span {
  flex: 0 !important;
}
h4 {
  text-align: left;
}

.main {
  width: 800px;
  background-color: #fff;
  margin-left: 10px;
}
.main-content {
  width: 100%;
}

.situacion-encabezado {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  align-content: center;
  padding: 1rem;
}

mat-selection-list {
  transition: background-color 1s ease;
}

.no-test {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 8px;
}
