<header class="sidenav-header">
  <img
    [width]="profilePicSize()"
    [height]="profilePicSize()"
    src="https://i.pravatar.cc/150"
    alt="profile image"
    class="profile"
  />
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2>{{ this.user.persona.tipo_persona.toUpperCase() }}</h2>
    <p>{{ this.user.persona.nombres }}</p>
  </div>
</header>
<mat-nav-list>
  <ng-container *ngFor="let item of menuItems(); let $index = index">
    <a [routerLink]="'paciente' !== null ? item.route : 'error'" mat-list-item>
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle *ngIf="!sidenavCollapsed()">{{ item.label }}</span>
    </a>
  </ng-container>
</mat-nav-list>
