/* Estilos del contenedor principal */
.evaluacion-details {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 1300px; /* Ancho máximo aumentado para una apariencia más ancha */
  max-height: 500px; /* Altura máxima ajustada */
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; /* Tres columnas, con la última más ancha */
  gap: 10px; /* Espacio entre los bloques */
  text-align: left;
}

/* Estilos para los títulos dentro del contenedor */
.evaluacion-details h2 {
  color: #041a31;
  margin-bottom: 10px;
  grid-column: 1 / -1; /* El título ocupa todo el ancho */
  text-align: center; /* Centrar el título */
}

/* Estilos para la columna izquierda (3 bloques) */
.left-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / 3; /* La columna izquierda ocupa las dos primeras columnas del grid principal */
  gap: 10px;
}

/* Estilos para la columna derecha (2 bloques grandes) */
.right-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 3 / 6; /* La columna derecha ocupa la tercera columna del grid principal */
  gap: 10px;
}

/* Estilos para las secciones dentro del contenedor */
/* Estilos para las secciones dentro del contenedor */
.section {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  width: calc(100% - 22px); /* Calcula el ancho restando el padding y el borde */
  max-width: 100%; /* Ajusta el ancho máximo al 100% */
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del tamaño */
}

/* Estilos para los títulos de sección */
.section h3 {
  font-size: 15px;
  color: #555555;
  margin-bottom: 10px;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 8px;
}

/* Estilos para los campos dentro de las secciones */
.field {
  margin-bottom: 15px;
}

/* Estilos para elementos strong dentro de los campos */
.field strong {
  margin-right: 10px;
  font-weight: bold;
}
