<main>
  <div class="cont">
    <h2>¡Regístrate en Sisvita!</h2>
    <p class="sub">Es rápido y fácil.</p>
    <form action="#">
      <div class="input-label 2-col">
        <div>
          <label
            ><span>Estado Civil</span><br />
            <select name="estado_civil" [(ngModel)]="registerObj.estado_civil">
              <option value="S">Soltero</option>
              <option value="C">Casado</option>
              <option value="D">Divorciado</option>
              <option value="V">Viudo</option>
            </select>
          </label>
        </div>
        <div>
          <label
            ><span>Tipo de usuario</span><br />
            <select name="tipo_usuario" [(ngModel)]="registerObj.tipo_usuario">
              <option value="estudiante">Estudiante</option>
              <option value="especialista">Especialista</option>
            </select>
          </label>
        </div>
      </div>
      <div class="input-label 2-col">
        <div>
          <label
            ><span>Codigo de Estudiante</span> <br />
            <input
              type="number"
              name="codigo_estudiante"
              [disabled]="registerObj.tipo_usuario === 'especialista'"
              placeholder="21200000"
              [(ngModel)]="registerObj.codigo_estudiante"
              required
            />
          </label>
        </div>
        <div>
          <label
            ><span>Especialidad</span> <br />
            <input
              type="text"
              name="especialidad"
              placeholder="Sistemas"
              [(ngModel)]="registerObj.especialidad"
              required
            />
          </label>
        </div>
      </div>
      <div class="input-label 2-col">
        <label>
          <input
            type="text"
            name="nombre"
            placeholder="Nombre"
            [(ngModel)]="registerObj.nombre"
            required
          />
        </label>
        <label>
          <input
            type="text"
            name="apellido"
            placeholder="Apellido"
            [(ngModel)]="registerObj.apellido"
            required
          />
        </label>
      </div>
      <div class="input-label col-1">
        <label>
          <input
            type="email"
            name="email"
            placeholder="example@example.com"
            [(ngModel)]="registerObj.email"
            required
          />
        </label>
      </div>
      <div class="input-label 2-col">
        <label>
          <input
            type="password"
            name="password"
            placeholder="Contraseña"
            required
            minlength="5"
            [(ngModel)]="registerObj.clave"
          />
        </label>
        <label>
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirmar Contraseña"
            required
            minlength="5"
            [(ngModel)]="registerObj.confirm_clave"
          />
        </label>
      </div>
      <div
        *ngIf="registerObj.clave !== registerObj.confirm_clave"
        class="error-message"
      >
        Las contraseñas no coinciden.
      </div>
      <div class="input-label 2-col">
        <div>
          <label
            ><span>Fecha de nacimiento</span> <br />
            <input
              type="date"
              name="trip-start"
              value="2024-01-01"
              min="1980-01-01"
              max="2014-12-31"
              [(ngModel)]="registerObj.fecha_nacimiento"
            />
          </label>
        </div>
        <div>
          <label
            ><span>Género</span><br />
            <select name="genero" [(ngModel)]="registerObj.sexo">
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
          </label>
        </div>
      </div>
      <div class="privacy-poly">
        <p>
          Al hacer clic en "Registrarse", aceptas nuestras Condiciones, la
          Política de datos y la Política de cookies.
        </p>
      </div>

      <div class="button">
        <button type="button" (click)="onRegister()">Registrarse</button>
      </div>
    </form>
  </div>
</main>
