/* styles.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* Ajusta el tamaño del logo según sea necesario */
  margin-right: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px; /* Espacio entre los enlaces */
}

nav li a {
  color: #fff;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}
