/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f6f9ff;
}

/**
  *Global Colors
*/
:root {
  --color-primary: #3b4c89;
  --color-secondary: #8ceba1;
  --color-accent: #f3c729;
  --color-background: #fdfdfd;
  color-scheme: light dark;
}
