<div class="container" *ngIf="indiceActual < datosCognitivos.length">
    <h2 class="seccion">PREGUNTAS COGNITIVAS</h2>
  
    <div class="situacion-nombre">{{ datosCognitivos[indiceActual].situacionNombre }}</div>
    <p class="situacion">{{ datosCognitivos[indiceActual].situacion }}</p>
  
    <p class="pregunta">{{ datosCognitivos[indiceActual].pregunta }}</p>
    <div class="options">
      <div class="option">
        <input type="radio" id="casi-nunca" name="respuesta" class="radio" [(ngModel)]="respuestaSeleccionada" [value]="0">
        <label for="casi-nunca">Casi nunca</label>
      </div>
      <div class="option">
        <input type="radio" id="pocas-veces" name="respuesta" class="radio" [(ngModel)]="respuestaSeleccionada" [value]="1">
        <label for="pocas-veces">Pocas veces</label>
      </div>
      <div class="option">
        <input type="radio" id="unas-veces" name="respuesta" class="radio" [(ngModel)]="respuestaSeleccionada" [value]="2">
        <label for="unas-veces">Unas veces sí</label>
      </div>
      <div class="option">
        <input type="radio" id="muchas-veces" name="respuesta" class="radio" [(ngModel)]="respuestaSeleccionada" [value]="3">
        <label for="muchas-veces">Muchas veces</label>
      </div>
      <div class="option">
        <input type="radio" id="casi-siempre" name="respuesta" class="radio" [(ngModel)]="respuestaSeleccionada" [value]="4">
        <label for="casi-siempre">Casi siempre</label>
      </div>
    </div>
  
    <button type="button" (click)="onContinuar()" [disabled]="respuestaSeleccionada === null">Continuar</button>
  </div>
  <div *ngIf="indiceActual >= datosCognitivos.length">
    <p>¡Has terminado todas las preguntas!</p>
  </div>
  